nav.navbar-default{
	margin-top: 10px;
}

div.nav{
	display: none;
}

div#focus-options{
	z-index: 2;
	position: absolute;
	left: 0; 
  	right: 0; 
  	margin-left: auto; 
  	margin-right: auto; 
  	top: 200px;
	background-color: #ECECEA;
	color: black;
	width: 600px;
	padding: 40px 150px;
}

div#playlist-options{
	z-index: 2;
	position: absolute;
	left: 0; 
  	right: 0; 
  	margin-left: auto; 
  	margin-right: auto; 
  	top: 200px;
	background-color: #ECECEA;
	color: black;
	width: 600px;
	padding: 40px 150px;
}

div#focus-options h2{
	margin-bottom: 45px;
}

div#focus-options i.fa-arrow-right{
	float: right;
}

div#focus-options i.fa-label{
	margin-right: 10px;
}

img.cover{
	height: 287px;
	width: 100%;
}

div.col-md-2{
	padding: 0px;
}

div.image-container{
	display: none;
}